*{
    font-family: 'Montserrat', sans-serif;
}

/* Ajuste color columna Izquierda */
.bg-primary{
    background-color: #2c3e50 !important;
}

/* img{
    max-width: 30px !important;
} */

.progress{
    background-color: rgba(255,255,255,0.2);
}

.progress-bar{
    background-color: white;
}

/* Cambio color texto col derecha */
.text-primary{
    color: #3498db !important;
}

/* Efecto para las CARDS */
.card{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.print{
    font-size: 85%;
}


/* Ancho fijo para exportar siempre igual (8.5 pulgadas * 96px = 816px) */


/* Para impresión PDF desde móviles */
@media (max-width: 768px) {
  #downloadBtn {
    display: none;
  }
}